@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Montserrat&display=swap');

$title-font: 'Libre Franklin', sans-serif;
$body-font: 'Montserrat', sans-serif;

@mixin dots($count) {
    $text-shadow: ();
    @for $i from 0 through $count {
      $text-shadow: $text-shadow,
                   (-.5+(random()) * 3) + em
                   (-.5+(random()) * 3) + em
                   7px
                   hsla(random() * 360, 100%, 50%, .15);
    }
    text-shadow: $text-shadow;
}
  
html {
  background: rgb(0, 0, 0) !important;
}

body {
  background-color: transparent;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-anchor: none;
}

body, head {
  display: block;
  font-size: 4em;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  z-index: -1 !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 3em !important;
  height: 3em !important;
  content: '.';
  animation: 44s -27s move infinite ease-in-out alternate;
  color: transparent
}


body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

main {
  color: white;
  font-size: 1em;
  font-family: $body-font;
}

h1 {
  font-family: $title-font;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: $title-font;
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: $title-font;
}

table {
  overflow-y: scroll;
  border-radius: 10px;
}

th {
  font-size:.7em;
  min-width: 6vw;
  font-weight: bold;
  text-align: left;
  padding: 6px;
}

*::-webkit-scrollbar {
  display: none;
}

h5 {
  font-size: .5em;
}

.swal2-input-label {
  text-align: center;
}